* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #283044;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav .nav-content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-weight: 500;
    font-size: 35px;
    color: #fff;
}

.nav-content .nav-links {
    display: flex;
    align-items: center;
}

.nav-content .nav-links li {
    list-style: none;
    margin: 8px;
}

.nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}

.nav-links li a img {
    display: flex;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.nav-links li a:hover {
    color: #fff;
}

.photo {
    height: 100%;
    width: 85%;
    display: block;
    margin: 0 auto;
}

.main {
    height: 100%;
    width: 1100px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 30em;
}

.swiper-wrapper {
    width: 100%;
    height: 25em;
    display: flex;
    align-items: center;
}

.card {
    width: 20em;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

.card_image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid #9176FF;
    padding: 3px;
    margin-bottom: 2em;
}

.card_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    /* position: relative; */
    margin-top: 15%;
}

.card_name {
    color: #9176FF;
}

.card_text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}

.card_btn button {
    background-color: #9176FF;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
}

h1 {
    text-align: center;
}

.w3-grid-template {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 5px 5px 5px 5px;
}

.w3-grid-template .box {
    background: #f1f1fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 25px;
    border: 5px solid #ffffff;
}

.w3-grid-template .box .title,
.w3-grid-template .box p {
    max-width: 100%;
}

.box .quote i {
    margin-top: 10px;
    font-size: 45px;
    color: #17c0eb
}

.w3-grid-template .box .image {
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: #1d1b31;
    padding: 3px;
    border-radius: 50%;
}

.box .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.box p {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.box .title {
    margin: 10px 0 3px 0;
    color: #1d1b31;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.box .level {
    color: #413e71;
}

.btns {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btns button {
    background: #1d1b31;
    width: 100%;
    padding: 9px 0px;
    outline: none;
    border: 2px solid #1d1b31;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #1d1b31;
    transition: all 0.3s linear;
}

.btns button:first-child {
    background: #1d1b31;
    margin-right: 5px;
}

.btns button:last-child {
    color: #fff;
    margin-left: 5px;
}

.btns button:first-child:hover {
    background: none;
    color: #fff;
}

.btns button:hover {
    color: #fff;
}