* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
}

nav.sticky {
  padding: 15px 20px;
  background: #283044;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #fff;
}

nav.sticky .logo a {
  color: #fff;
}

.nav-content .nav-links {
  display: flex;
  align-items: center;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 8px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #283044;
}

nav.sticky .nav-links li a {
  color: #fff;
  transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover {
  color: #283044;
}

.nav-links li img {
  display: flex;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("../photo/userLogo.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 30px;
  margin-bottom: 6px;
  color: #283044;
}

.main {
  height: 100%;
  width: 1100px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photo {
  background: url("../photo/mainpage.webp");
  background-position: 0;
  border-width: 0;
  background-size: cover;
  height: 400px;
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: 80%;
  margin-bottom: 100px;
}

.first .a {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.first .b {
  font-size: 45px;
  margin-bottom: 30px;
}

.first .c {
  font-size: 23px;
  margin-bottom: 30px;
  width: 50%;
}

.second {
  background-color: #283044e6;
  overflow: hidden;
}

.title {
  height: 100%;
  width: 1100px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.fcontent b {
  font-size: 50px;
  color: #fcfcfc;
}

.fcontent p {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 10%;
}

.boxes .box {
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: calc(100% / 3 - 30px);
  padding: 15px 20px;
  background-color: #fbd8dd;
  transition: all 0.5s ease;

}

.boxes .box .uil {
  margin: 15px 50px 15px 20px;
  font-size: 60px;
  color: #000;
}

.boxes .box .text {
  margin-left: 20px;
  white-space: nowrap;
  font-size: 25px;
  font-weight: 500;
  color: #000;
}

.boxes .box .text:hover,
.boxes .box .right:hover {
  color: #798eb7;
}

.boxes .box.box2 {
  background-color: #c4cbf2;
}

.boxes .box.box3 {
  background-color: #ffebbb;
}

.third_main {
  height: 100%;
  width: 1100px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.third_title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
}

.third_content {
  height: 330px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  /* Add this line */
  background-color: #eaedf4;
}

.third_detail {
  margin: 25px 25px 25px 25px;
}

.third_content i {
  margin-bottom: 25px;
  font-size: 20px;
  display: flex;
}

.forth {
  background-color: #283044e6;
  overflow: hidden;
}

.forth_title {
  height: 100%;
  width: 1100px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.ftitle {
  margin-bottom: 50px;
  text-align: center;
}

.ftitle b {
  font-size: 50px;
  color: #fcfcfc;
}

.forth .boxes {
  display: flex;
  justify-content: center;
  /* Center the boxes horizontally */
  align-items: center;
  /* Center the boxes vertically */
  flex-wrap: wrap;
  margin: 0 -15px;
}

.forth .boxes .box {
  height: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: calc(50% - 30px);
  padding: 15px 20px;
  background-color: #f5f6fa;
  margin: 0 15px;
  /* Add margin to the sides of the boxes */
  margin-bottom: 30px;
}

.forth .boxes .box .uil {
  font-size: 28px;
  color: #000;
}

.forth .boxes .box p {
  margin-left: 60px;
  margin-right: 40px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

.forth .boxes .box.box2 {
  background-color: #f5f6fa;
}

.forth .boxes .box.box3 {
  background-color: #f5f6fa;
}

.fifth_main {
  height: 100%;
  width: 1100px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.fifth_title {
  font-size: 50px;
}

.fifth_content p{
  font-size: 18px;
  color: #777777;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 20px;
}